/*------------CASOUSEL------------*/
/*TAMAÑO DEL CAROUSEL*/
/*CONTROLA EL TAMAÑO DE LAS IMAGENES*/
#carouselImag, #carouselImag img{
    width: -webkit-fill-available !important;
    height: 380px !important;
}
#contenedorRedes img{
    width: 40px;
    height: 40px;
}
#contenedor{
    margin-top: 5%;
}

#contenedor .card{
    margin: 0% 0% 0% 0% !important;
    padding: 0% 0% 0% 0% !important;
}
#contenedor .card:hover{
    box-shadow: 0 0 20px yellowgreen;
}

/*#contenedor{
    border: solid black;
    margin-top: 10px;
}*/
